################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Java/opentraceability/.gradle
/Java/opentraceability/.idea
