################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Java/opentraceability/.gradle
/Java/opentraceability/.idea
/.vs
/CSharp/OpenTraceability.TestServer/epcis.db
/CSharp/OpenTraceability.TestServer/epcis.db-shm
/CSharp/OpenTraceability.TestServer/epcis.db-wal
